<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button
      routerLink="/"
      class="btn btn-link"
    >To Home</button>
  </div>

  <div class="info">
    <strong>Artem</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae harum ipsam itaque laborum nihil, repellendus. Eligendi illum neque odit officia quaerat quod repudiandae suscipit? Consequuntur culpa laborum natus nesciunt officiis optio perferendis vero. Eum hic ipsam maiores placeat vel vitae voluptates? A alias est explicabo iste laboriosam maxime molestiae, sunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae harum ipsam itaque laborum nihil, repellendus. Eligendi illum neque odit officia quaerat quod repudiandae suscipit? Consequuntur culpa laborum natus nesciunt officiis optio perferendis vero. Eum hic ipsam maiores placeat vel vitae voluptates? A alias est explicabo iste laboriosam maxime molestiae, sunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae harum ipsam itaque laborum nihil, repellendus. Eligendi illum neque odit officia quaerat quod repudiandae suscipit? Consequuntur culpa laborum natus nesciunt officiis optio perferendis vero. Eum hic ipsam maiores placeat vel vitae voluptates? A alias est explicabo iste laboriosam maxime molestiae, sunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae harum ipsam itaque laborum nihil, repellendus. Eligendi illum neque odit officia quaerat quod repudiandae suscipit? Consequuntur culpa laborum natus nesciunt officiis optio perferendis vero. Eum hic ipsam maiores placeat vel vitae voluptates? A alias est explicabo iste laboriosam maxime molestiae, sunt!</p>
  </div>
</div>
